<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<div class="captcha-container">
		<div class="heading-container">
			<h3>Selecct all square with</h3>
			<h1>traffic lights</h1>
			<h3>If there are none click skip</h3>
		</div>
		<div class="image-container">
			<div class="img" onclick="myFunction2()">
				<img src="../static//assets/images/img-1/image_part_001.jpg" class="image-1 img-1" width="134.4px" height="134.4px">
				<img src="../static//assets/images/img-2/image_part_001.jpg" class="image-2 img-1" width="134.4px" height="134.4px">

			</div>
			<div class="img" onclick="myFunction2()">
				<img src="../static//assets/images/img-1/image_part_002.jpg" class="image-1 img-2" width="134.4px" height="134.4px">
				<img src="../static//assets/images/img-2/image_part_002.jpg" class="image-2 img-2" width="134.4px" height="134.4px">

			</div>
			<div class="img" onclick="myFunction2()">
				<img src="../static//assets/images/img-1/image_part_003.jpg" class="image-1 img-3" width="134.4px" height="134.4px">
				<img src="../static//assets/images/img-2/image_part_003.jpg" class="image-2 img-3" width="134.4px" height="134.4px">
			</div>
			<div class="img" onclick="myFunction2()">
				<img src="../static//assets/images/img-1/image_part_004.jpg" class="image-1 img-4" width="134.4px" height="134.4px">
				<img src="../static//assets/images/img-2/image_part_004.jpg" class="image-2 img-4" width="134.4px" height="134.4px">
			</div>
			<div class="img" onclick="myFunction2()">
				<img src="../static//assets/images/img-1/image_part_005.jpg" class="image-1 img-5" width="134.4px" height="134.4px">
				<img src="../static//assets/images/img-2/image_part_005.jpg" class="image-2 img-5" width="134.4px" height="134.4px">
			</div>
			<div class="img" onclick="myFunction2()">
				<img src="../static//assets/images/img-1/image_part_006.jpg" class="image-1 img-6" width="134.4px" height="134.4px">
				<img src="../static//assets/images/img-2/image_part_006.jpg" class="image-2 img-6" width="134.4px" height="134.4px">
			</div>
			<div class="img" onclick="myFunction2()">
				<img src="../static//assets/images/img-1/image_part_007.jpg" class="image-1 img-7" width="134.4px" height="134.4px">
				<img src="../static//assets/images/img-2/image_part_008.jpg" class="image-2 img-7" width="134.4px" height="134.4px">
			</div>
			<div class="img" onclick="myFunction2()">
				<img src="../static//assets/images/img-1/image_part_008.jpg" class="image-1 img-8" width="134.4px" height="134.4px">
				<img src="../static//assets/images/img-2/image_part_009.jpg" class="image-2 img-8" width="134.4px" height="134.4px">
			</div>
			<div class="img" onclick="myFunction2()">
				<img src="../static//assets/images/img-1/image_part_009.jpg" class="image-1 img-9" width="134.4px" height="134.4px">
				<img src="../static//assets/images/img-2/image_part_009.jpg" class="image-2 img-9" width="134.4px" height="134.4px">
			</div>
			<div class="img" onclick="myFunction2()">
				<img src="../static//assets/images/img-1/image_part_010.jpg" class="image-1 img-10" width="134.4px" height="134.4px">
				<img src="../static//assets/images/img-2/image_part_010.jpg" class="image-2 img-10" width="134.4px" height="134.4px">
			</div>
			<div class="img" onclick="myFunction2()">
				<img src="../static//assets/images/img-1/image_part_011.jpg" class="image-1 img-11" width="134.4px" height="134.4px">
				<img src="../static//assets/images/img-2/image_part_011.jpg" class="image-2 img-11" width="134.4px" height="134.4px">
			</div>
			<div class="img" onclick="myFunction2()">
				<img src="../static//assets/images/img-1/image_part_012.jpg" class="image-1 img-12" width="134.4px" height="134.4px">
				<img src="../static//assets/images/img-2/image_part_012.jpg" class="image-2 img-12" width="134.4px" height="134.4px">
			</div>
			<div class="img" onclick="myFunction2()">
				<img src="../static//assets/images/img-1/image_part_013.jpg" class="image-1 img-13" width="134.4px" height="134.4px">
				<img src="../static//assets/images/img-2/image_part_013.jpg" class="image-2 img-13" width="134.4px" height="134.4px">
			</div>
			<div class="img" onclick="myFunction2()">
				<img src="../static//assets/images/img-1/image_part_014.jpg" class="image-1 img-14" width="134.4px" height="134.4px">
				<img src="../static//assets/images/img-2/image_part_014.jpg" class="image-2 img-14" width="134.4px" height="134.4px">
			</div>
			<div class="img" onclick="myFunction2()">
				<img src="../static//assets/images/img-1/image_part_015.jpg" class="image-1 img-15" width="134.4px" height="134.4px">
				<img src="../static//assets/images/img-2/image_part_015.jpg" class="image-2 img-15" width="134.4px" height="134.4px">
			</div>
			<div class="img" onclick="myFunction2()">
				<img src="../static//assets/images/img-1/image_part_016.jpg" class="image-1 img-16" width="134.4px" height="134.4px">
				<img src="../static//assets/images/img-2/image_part_016.jpg" class="image-2 img-16" width="134.4px" height="134.4px">
			</div>
		</div>
		<div class="discription">
			<div class="symbol-container">
				<i onClick="window.location.reload();" class="fa fa-refresh"></i>
				<i class="fa fa-headphones"></i>
				<i class="fa fa-info-circle"></i>
			</div>
			<button onclick="myFunction()" class="skip" type="clear"><span>Continue</span></button>
		</div>
	</div>
	<script>
		function myFunction() {
		   var element = document.body;
		   element.classList.toggle("change-image");

		}

		var buttons = document.getElementsByClassName("image-1");

		for (var i = 0; i < buttons.length; i++) {
		document.getElementsByClassName("image-1")[i].addEventListener("click", function() {
			this.classList.add("add_border");
		});

		document.getElementsByClassName("image-2")[i].addEventListener("click", function() {
			this.classList.add("add_border");
		});
		}
	</script>
		</body>
		</html>